.App {
  margin: 0;
  padding: 0;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/22/240/855/texture-gradient-simple-background-blue-wallpaper-preview.jpg");
  background-position: fixed;
  height: 100vh;
  background-size: cover;
  min-height: fit-content;
  min-width: fit-content;
  width: 100vw;
}
